=begin
#Interactions API

#Interactions API documentation

The version of the OpenAPI document: v1
Contact: api@demexchange.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module DdxInteractionsApi
  class AuthenticationDetailsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get authentication context
    # Returns details about the authenticated API key including vendor, organization, committee, and state information.
    # @param version [String] 
    # @param [Hash] opts the optional parameters
    # @return [WhoAmIApiKeyDto]
    def vversion_auth_me_get(version, opts = {})
      data, _status_code, _headers = vversion_auth_me_get_with_http_info(version, opts)
      data
    end

    # Get authentication context
    # Returns details about the authenticated API key including vendor, organization, committee, and state information.
    # @param version [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WhoAmIApiKeyDto, Integer, Hash)>] WhoAmIApiKeyDto data, response status code and response headers
    def vversion_auth_me_get_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationDetailsApi.vversion_auth_me_get ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AuthenticationDetailsApi.vversion_auth_me_get"
      end
      # resource path
      local_var_path = '/v{version}/auth/me'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WhoAmIApiKeyDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic']

      new_options = opts.merge(
        :operation => :"AuthenticationDetailsApi.vversion_auth_me_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationDetailsApi#vversion_auth_me_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
