=begin
#Interactions API

#Interactions API documentation

The version of the OpenAPI document: v1
Contact: api@demexchange.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module DdxInteractionsApi
  class InteractionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Exchange pipeline statuses by correlation or interaction ID
    # Returns Exchange pipeline statuses filtered by either correlationId or interactionId.  Supports cursor-based pagination.
    # @param version [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :correlation_id The correlation ID returned from the initial publish response.
    # @option opts [String] :interaction_id The interaction&#39;s unique identifier (GUID).
    # @option opts [String] :cursor Opaque pagination token from a previous response&#39;s nextCursor field.
    # @option opts [Integer] :limit Maximum number of results to return (default 100, max 1000).
    # @return [ExchangeInteractionStatusDtoCursorPaginatedResponseDto]
    def vversion_interactions_exchange_status_get(version, opts = {})
      data, _status_code, _headers = vversion_interactions_exchange_status_get_with_http_info(version, opts)
      data
    end

    # Get Exchange pipeline statuses by correlation or interaction ID
    # Returns Exchange pipeline statuses filtered by either correlationId or interactionId.  Supports cursor-based pagination.
    # @param version [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :correlation_id The correlation ID returned from the initial publish response.
    # @option opts [String] :interaction_id The interaction&#39;s unique identifier (GUID).
    # @option opts [String] :cursor Opaque pagination token from a previous response&#39;s nextCursor field.
    # @option opts [Integer] :limit Maximum number of results to return (default 100, max 1000).
    # @return [Array<(ExchangeInteractionStatusDtoCursorPaginatedResponseDto, Integer, Hash)>] ExchangeInteractionStatusDtoCursorPaginatedResponseDto data, response status code and response headers
    def vversion_interactions_exchange_status_get_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InteractionsApi.vversion_interactions_exchange_status_get ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling InteractionsApi.vversion_interactions_exchange_status_get"
      end
      # resource path
      local_var_path = '/v{version}/interactions/exchange-status'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'correlationId'] = opts[:'correlation_id'] if !opts[:'correlation_id'].nil?
      query_params[:'interactionId'] = opts[:'interaction_id'] if !opts[:'interaction_id'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExchangeInteractionStatusDtoCursorPaginatedResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic']

      new_options = opts.merge(
        :operation => :"InteractionsApi.vversion_interactions_exchange_status_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InteractionsApi#vversion_interactions_exchange_status_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Exchange pipeline statuses by date range
    # Returns Exchange pipeline statuses for interactions published within the specified date range.  Supports cursor-based pagination. Maximum date range is 30 days.
    # @param version [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :start_date Beginning of date range (inclusive, UTC).
    # @option opts [Time] :end_date End of date range (inclusive, UTC). Defaults to current UTC time.
    # @option opts [String] :cursor Opaque pagination token from a previous response&#39;s nextCursor field.
    # @option opts [Integer] :limit Maximum number of results to return (default 100, max 1000).
    # @return [ExchangeInteractionStatusDtoCursorPaginatedResponseDto]
    def vversion_interactions_exchange_status_range_get(version, opts = {})
      data, _status_code, _headers = vversion_interactions_exchange_status_range_get_with_http_info(version, opts)
      data
    end

    # Get Exchange pipeline statuses by date range
    # Returns Exchange pipeline statuses for interactions published within the specified date range.  Supports cursor-based pagination. Maximum date range is 30 days.
    # @param version [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :start_date Beginning of date range (inclusive, UTC).
    # @option opts [Time] :end_date End of date range (inclusive, UTC). Defaults to current UTC time.
    # @option opts [String] :cursor Opaque pagination token from a previous response&#39;s nextCursor field.
    # @option opts [Integer] :limit Maximum number of results to return (default 100, max 1000).
    # @return [Array<(ExchangeInteractionStatusDtoCursorPaginatedResponseDto, Integer, Hash)>] ExchangeInteractionStatusDtoCursorPaginatedResponseDto data, response status code and response headers
    def vversion_interactions_exchange_status_range_get_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InteractionsApi.vversion_interactions_exchange_status_range_get ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling InteractionsApi.vversion_interactions_exchange_status_range_get"
      end
      # resource path
      local_var_path = '/v{version}/interactions/exchange-status/range'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExchangeInteractionStatusDtoCursorPaginatedResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic']

      new_options = opts.merge(
        :operation => :"InteractionsApi.vversion_interactions_exchange_status_range_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InteractionsApi#vversion_interactions_exchange_status_range_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get external API transactions by interactionId
    # Get all external API transaction records for the specified interaction.
    # @param interaction_id [String] ID of the interaction to retrieve records for.
    # @param version [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :show_only_failed_transactions When true, will return only transactions with Failed, Invalid, or Duplicate status. True by default. (default to true)
    # @return [InteractionsExternalApiTransactionDtoGetResponseDto]
    def vversion_interactions_interaction_id_transactions_get(interaction_id, version, opts = {})
      data, _status_code, _headers = vversion_interactions_interaction_id_transactions_get_with_http_info(interaction_id, version, opts)
      data
    end

    # Get external API transactions by interactionId
    # Get all external API transaction records for the specified interaction.
    # @param interaction_id [String] ID of the interaction to retrieve records for.
    # @param version [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :show_only_failed_transactions When true, will return only transactions with Failed, Invalid, or Duplicate status. True by default. (default to true)
    # @return [Array<(InteractionsExternalApiTransactionDtoGetResponseDto, Integer, Hash)>] InteractionsExternalApiTransactionDtoGetResponseDto data, response status code and response headers
    def vversion_interactions_interaction_id_transactions_get_with_http_info(interaction_id, version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InteractionsApi.vversion_interactions_interaction_id_transactions_get ...'
      end
      # verify the required parameter 'interaction_id' is set
      if @api_client.config.client_side_validation && interaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'interaction_id' when calling InteractionsApi.vversion_interactions_interaction_id_transactions_get"
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling InteractionsApi.vversion_interactions_interaction_id_transactions_get"
      end
      # resource path
      local_var_path = '/v{version}/interactions/{interactionId}/transactions'.sub('{' + 'interactionId' + '}', CGI.escape(interaction_id.to_s)).sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'showOnlyFailedTransactions'] = opts[:'show_only_failed_transactions'] if !opts[:'show_only_failed_transactions'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InteractionsExternalApiTransactionDtoGetResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic']

      new_options = opts.merge(
        :operation => :"InteractionsApi.vversion_interactions_interaction_id_transactions_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InteractionsApi#vversion_interactions_interaction_id_transactions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Post interactions data
    # This endpoint is used to post interactions data to the Interactions API that will be published to Pub/Sub.  A maximum of 100 interactions can be submitted per request.
    # @param version [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [InteractionsDto] :interactions_dto 
    # @return [InteractionsBatchResultDto]
    def vversion_interactions_post(version, opts = {})
      data, _status_code, _headers = vversion_interactions_post_with_http_info(version, opts)
      data
    end

    # Post interactions data
    # This endpoint is used to post interactions data to the Interactions API that will be published to Pub/Sub.  A maximum of 100 interactions can be submitted per request.
    # @param version [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [InteractionsDto] :interactions_dto 
    # @return [Array<(InteractionsBatchResultDto, Integer, Hash)>] InteractionsBatchResultDto data, response status code and response headers
    def vversion_interactions_post_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InteractionsApi.vversion_interactions_post ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling InteractionsApi.vversion_interactions_post"
      end
      # resource path
      local_var_path = '/v{version}/interactions'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'interactions_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'InteractionsBatchResultDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic']

      new_options = opts.merge(
        :operation => :"InteractionsApi.vversion_interactions_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InteractionsApi#vversion_interactions_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get external API transaction logs by date range
    # Get all external API transaction records within the date range specified, for a maximum of up to a 30 day span.
    # @param version [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :start_date Beginning of date range to show transactions for (inclusive). Must be provided in UTC, and be within 30 days of endDate.
    # @option opts [Time] :end_date End of date range to show transactions for (inclusive). Defaults to current date/time if not provided. Must be provided in UTC if specified,              and be within 30 days of startDate.
    # @option opts [Boolean] :show_only_failed_transactions When true, will return only transactions with Failed, Invalid, or Duplicate status. True by default. (default to true)
    # @return [InteractionsExternalApiTransactionDtoGetResponseDto]
    def vversion_interactions_transactions_get(version, opts = {})
      data, _status_code, _headers = vversion_interactions_transactions_get_with_http_info(version, opts)
      data
    end

    # Get external API transaction logs by date range
    # Get all external API transaction records within the date range specified, for a maximum of up to a 30 day span.
    # @param version [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :start_date Beginning of date range to show transactions for (inclusive). Must be provided in UTC, and be within 30 days of endDate.
    # @option opts [Time] :end_date End of date range to show transactions for (inclusive). Defaults to current date/time if not provided. Must be provided in UTC if specified,              and be within 30 days of startDate.
    # @option opts [Boolean] :show_only_failed_transactions When true, will return only transactions with Failed, Invalid, or Duplicate status. True by default. (default to true)
    # @return [Array<(InteractionsExternalApiTransactionDtoGetResponseDto, Integer, Hash)>] InteractionsExternalApiTransactionDtoGetResponseDto data, response status code and response headers
    def vversion_interactions_transactions_get_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InteractionsApi.vversion_interactions_transactions_get ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling InteractionsApi.vversion_interactions_transactions_get"
      end
      # resource path
      local_var_path = '/v{version}/interactions/transactions'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'showOnlyFailedTransactions'] = opts[:'show_only_failed_transactions'] if !opts[:'show_only_failed_transactions'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InteractionsExternalApiTransactionDtoGetResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic']

      new_options = opts.merge(
        :operation => :"InteractionsApi.vversion_interactions_transactions_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InteractionsApi#vversion_interactions_transactions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
